{% load widget_tweaks %}

{% if form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
        {{ form.non_field_errors }}
    </div>
{% endif %}

{% for field in form %}
    <div class="form-group {% if field.errors %}has-error{% endif %}">
        {{ field.label_tag }} {% render_field field class+="form-control" placeholder=field.label %}

        {% if field.errors %}
            <span class="help-block">{{ field.errors }}</span>
        {% endif %}

        {% if field.help_text %}
            <p class="help-block">{{ field.help_text|safe }}</p>
        {% endif %}
    </div>
{% endfor %}