{% extends 'application.html' %}
{% load static %}

{% block extra_nav %}
<li class="nav-item active">
    <a class="nav-link" href="{% url 'app:update_list' todolist.id %}">> Edit List<span class="sr-only">(current)</span></a>
</li>
{% endblock extra_nav %}

{% block reports %}
<div id="reports-dropdown" class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Reports
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="nav-link" href="{% url 'app:list_detail' todolist.id %}?report=all-completed-tasks">All Tasks completed this month<span class="sr-only">(current)</span></a>
        <a class="nav-link" href="{% url 'app:list_detail' todolist.id %}?report=completed-tasks">Tasks completed this month<span class="sr-only">(current)</span></a>
        <a class="nav-link" href="{% url 'app:list_detail' todolist.id %}?report=all-pending-tasks">All Pending Tasks<span class="sr-only">(current)</span></a>
        <a class="nav-link" href="{% url 'app:list_detail' todolist.id %}?report=pending-tasks">Pending Tasks this month<span class="sr-only">(current)</span></a>
        <a class="nav-link" href="{% url 'app:list_detail' todolist.id %}">Show All Tasks<span class="sr-only">(current)</span></a>
    </div>
</div>
{% endblock reports %}

{% block container %}
<div id="list-detail">
    <div class="title">
        <h1>{{ todolist.title }}</h1>
        <div class="add-task pull-right">
            <a href="{% url 'app:create_task' todolist.id %}" class="btn btn-primary add-todolist">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </a>
        </div>
    </div>
    <hr>

    {% if todolist.todo_set.all %}
    <ul class="list-group">
        {% for todo in tasks|dictsortreversed:"created_at" %}
            <li class="list-group-item justify-content-between">
                <div class="title-task-item task-{{ todo.id }} {% if todo.done %}check{% else %}uncheck{% endif %}">
                    <span>{{ todo.title }}</span>
                    <div class="delete-box">
                        <span class="delete-task-button" data-pk="{{ todo.id }}">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>                           
                        </span>
                        <a class="edit-task" href="{% url 'app:update_task' todo.id %}" class="">
                            <i class="fa fa-pencil" aria-hidden="true"></i>                           
                        </a>
                    </div>
                </div>
                <div class="task-content">
                    <div class="task-info pull-left">
                        {% if todo.description %}
                            <p>{{ todo.description }}</p>
                        {% else %}
                            <p>There is no description for this task, you should add one!</p>
                        {% endif %}
                    </div>
                    <div class="task-checkbox pull-left">
                        <label>
                            <input id="todo-{{ todo.id }}" type="checkbox" class="ios-switch green" {{ todo.done|yesno:"checked," }} />
                            <div><div></div></div>
                        </label>
                    </div>
                </div>
                <div class="dates">
                    <p class="pull-left">Created at: <strong>{{ todo.created_at|date:"d M Y"}}</strong></p>
                    <p class="pull-right">Updated at: <strong>{{ todo.updated_at|date:"d M Y"}}</strong></p>
                </div>
            </li>
        {% endfor %}
    </ul>
    {% else %}
        <div class="blank-state">
            <img src="{% static 'app/images/blank.png' %}" alt="Blank">
            <p> There is not To-Do for this taks</p>
        </div>
    {% endif %}
</div>

<div id="error-modal" class="modal fade">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Error!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>You can't mark this task as not finished</p>
      </div>
    </div>
  </div>
</div>
{% endblock container %}