.navbar{
    margin-bottom: 20px;
}

.title{
    overflow: hidden;
}

.title h1{
    float: left;
    width: 85%;
    font-size: 25px;
    margin: 0px;
    margin-top: 5px;
}

.title .add-todolist{
    border-radius: 50%;
    float: right;
    background-color: #4db6ac;
    border-color: #00695c;
}

.title .add-todolist:hover{
    background-color: #4db6ac;
    border-color: #00695c;
}

.blank-state{
    text-align: center;
    padding: 40px;
}

.blank-state p{
    color: #ccc;
    margin-top: 10px;
}

.list-group{
    margin-bottom: 20px !important;
}

.delete-box{
    width: 20%;
    float: right;
    padding: 6px 0 4px;
}

.delete-box .fa-trash-o{
    float: right;
    /* color: red; */
    cursor: pointer;
}

#list-detail .list-group .list-group-item{
    padding: 0px;
    border-radius: 10px !important;
    margin: 5px 0;
    overflow: hidden;
}

.list-group-item .title-task-item{
    padding: 3px 20px;
}

.list-group-item .title-task-item.check{
    background: #4db6ac;
}

.list-group-item .title-task-item.uncheck{
    background: #bdbdbd;
}

.list-group-item label a{
    margin: 0 3px;
}

.list-group-item label a:hover{
    text-decoration: none;
}

.list-group-item > label > form{
    display: inline-block;
}

.title-task-item span, .title-task-item a{
    color: #fff;
    font-size: 14px;
}

.task-content{
    overflow: hidden;
    width: 100%;
    padding: 20px 20px 10px 20px;
}

.task-info{
    width: 90%;
}

.task-checkbox{
    width: 10%;
}

.task-checkbox label{
    float: right;
}

.add-task a, .add-task a:hover{
    background-color: #4db6ac;
    border-color: #00695c;
}

.edit-task{
    float: right;
    margin: 0 15px;
    margin-top: -4px;
}

.edit-task:hover{
    color: #fff;
}

.dates{
    overflow: hidden;
    width: 100%;
    padding: 10px 20px;
}

.dates p{
    margin: 0px;
    font-size: 14px;
    color: #777;
    font-weight: 100;
}

.dates p strong{
    color: #656464;
}

/* BADGE */
.badge-default {
    background-color: #636c72;
}

.badge-pill {
    padding-right: .6em;
    padding-left: .6em;
    border-radius: 10rem;
}

.badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    float: right;
}

button.btn-secondary, button.btn-secondary:hover, .show>.btn.btn-secondary.dropdown-toggle{
    color: rgba(0,0,0,.9);
    background-color: #f8f9fa;
    border-color: #868e96;
}

#reports-dropdown .dropdown-menu.show{
    right: 0;
    left: initial;
    width: 340px;
}

#reports-dropdown .dropdown-menu a{
    color: rgba(0,0,0,.9);
}

#reports-dropdown .dropdown-menu a:hover{
    background-color: #e0e0e0;
}

#reports-dropdown button{
    cursor: pointer;
}

/* MEDIA QUERY */
@media (max-width: 991px) {
    #reports-dropdown .dropdown-menu.show{
        right: initial;
        left: 0;
        width: 340px;
    }
}


/* TEST */

input[type="checkbox"] { 
	position: absolute;
	opacity: 0;
}

/* Normal Track */
input[type="checkbox"].ios-switch + div {
	vertical-align: middle;
	width: 40px;	height: 20px;
	border: 1px solid rgba(0,0,0,.4);
	border-radius: 999px;
	background-color: rgba(0, 0, 0, 0.1);
	-webkit-transition-duration: .4s;
	-webkit-transition-property: background-color, box-shadow;
	box-shadow: inset 0 0 0 0px rgba(0,0,0,0.4);
}

/* Green Track */
input[type="checkbox"].green.ios-switch:checked + div {
    background-color: #4db6ac; 
	border: 1px solid #00695c; /* rgba(0, 162, 63,1); */
	box-shadow: inset 0 0 0 10px #4db6ac; /*rgba(0,227,89,1);*/
}

/* Normal Knob */
input[type="checkbox"].ios-switch + div > div {
	float: left;
	width: 18px; height: 18px;
	border-radius: inherit;
	background: #ffffff;
	-webkit-transition-timing-function: cubic-bezier(.54,1.85,.5,1);
	-webkit-transition-duration: 0.4s;
	-webkit-transition-property: transform, background-color, box-shadow;
	-moz-transition-timing-function: cubic-bezier(.54,1.85,.5,1);
	-moz-transition-duration: 0.4s;
	-moz-transition-property: transform, background-color;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(0, 0, 0, 0.4);
	pointer-events: none;
	margin-top: 0px;
	margin-left: 1px;
} 

/* Checked Knob (Blue Style) */
input[type="checkbox"].ios-switch:checked + div > div {
	-webkit-transform: translate3d(20px, 0, 0);
	-moz-transform: translate3d(20px, 0, 0);
	background-color: #ffffff;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(8, 80, 172,1);
} 

/* Green Knob */
input[type="checkbox"].green.ios-switch:checked + div > div {
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0 0 0 1px #00695c; /* rgba(0, 162, 63,1);*/
}
